body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove default body margin */
}

#container {
    display: flex; /* Flex to create a two-column layout */
    justify-content: space-between; /* Space between inbox and input area */
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 20px;
    width: 50%; /* Adjust width as needed */
}

#titre { border: 1px solid green;
    font-size: 1.3em;
    margin-left: 15px;
    padding: 8px;
    padding-left: 15px;
border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);}

h2 {
    background-color: darkgreen;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    text-align: center;
    padding: 15px 20px;
    margin: 20px 0; /* Margin for top and bottom */
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transform: none;
}

h3 {
    border-bottom: 5px solid darkgreen;
    font-size: 1.2em;
}

#top {
    display: flex;
    flex-direction: column; /* Stack pseudo and input vertically */
}

.inbox {
    border: 1px solid green;
    border-radius: 15px;
    background-color: white;
    padding: 10px; 
    overflow-y: auto; 
    flex-grow: 1; /* Make the inbox take up available space */
    margin-left: 20px; /* Add space to the left */
    height: 100%; /* Make it take the full height available */
}

.btn {
    background-color: darkgreen;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
}

.message-area {
    display: flex;
    flex-direction: column; /* Arrange inputs vertically */
    gap: 10px; /* Space between inputs */
}

.mail {
    margin: 10px 0; 
    padding: 15px; 
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 10px;
}


.controom {
    margin: 15px;
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    gap: 20px;
    width: auto /* Adjust width as needed */
}

.btnroom {
    width: auto;
    color: white;
    margin: 10px 0; 
    padding: 15px; 
    background-color: green;
    border-radius: 10px;
}

.content {
    font-size: 0.9em; 
}

.infosend {
    font-size: 0.7em;
    color: grey;
    font-family: "Lucida Console";
}
