.container {
    display: flex;
    gap: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: aqua;
}

h2 {border-bottom: 5px solid darkgreen;
        background-color: lightblue;
        font-size: 1.3em;
    width:auto;}

 .inbox {
    gap: 20px;
    margin: 150px;
    border-style: solid;
    border-inline-color: green;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 15px;
 }

  .btn{
        font-style: normal white;
        background-color: darkgreen;
        color: white;
        border-radius: 5%;
    }

    .mail{
        margin : 20px;
        padding : 20px;
        background-color: rgba(0, 128, 0, 0.3);
        border-radius: 10px;

    }

    .content{
        font-size: 1.2em;
    }

